* {
    margin: 0 auto;
    box-sizing: border-box;
}

.caixas {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 15rem);
    grid-template-rows: repeat(2, 15rem);
    gap: 1rem;
}

header {
    text-align: center;
    margin-top: 2rem;
}

.cx {
    width: 15rem;
    height: 15rem;
    padding: 10px;
    margin: 2rem;
    border-radius: 5px;
    border: solid 1px
}

