* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    text-align: center;
    margin-top: 2rem;
    color: white;
    text-transform: uppercase;
    padding: 2rem;
}

.caixas {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: repeat(2, 8rem);
    gap: 12rem;
    margin-top: 1rem;
}

.cx {
    position: relative;
    margin-top: 2rem;
    width: 23rem;
    height: 15rem;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.name {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.modal_cx {
    margin-top: 4rem;
}

.body_modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 2rem;
    text-align: center;
}

.body_modal p {
    text-align: justify;
}

.modal1, .modal2, .modal3, .modal4, .modal5, .modal6 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
    max-width: 90%;
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 1.6rem;
    overflow: auto;
}

iframe {
    margin-top: 2rem;
}

.show-modal {
    display: block !important;
}

/*
.modal-open {
    opacity: 0.5;
}

*/